/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
     
    background-image: url("afbeelding/Water_1.jpg");
    color: #000000;
    font: Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    clear: both;
}


header {
    color: rgb(27, 179, 240);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}


strong {
    font-size: 20px;
    color: rgb(44, 67, 170)
    
}



/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    border:1px solid #090089;
}

img.zweefRechts {
    float: right;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    border:1px solid #090089;
}

img.zweefMidden {
    
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 500px;
    border:1px solid #090089;
}



.product {
    width: 200px;
    float: left;
    margin: 10px;
    text-align: center;
}

.producttekst {
    color: rgb(0, 0, 0)
}

.productFoto {
    height: 150px;
    
}


#Telefoniste {
    border:1px solid #090089;
    float: right;
    margin-right: 15px;
    margin-left: 15px;
    width: 200px;

}

.contactgegevens {
    font-weight: bold;
    color: #060149;
    
}
#jerrycan {
    width: 150px;
}

.enter {
    white-space: 5px;
}
.space {
    padding-bottom: 10px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
    width: 140px;
}

nav li a {
    display: block;
    color: rgb(45, 76, 122);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav li a:hover {
    background-color: #478edf;
}

nav li a.active {
    background-color: rgb(151, 169, 209);
}

.logo {
    margin-left: auto;
    margin-right: auto;
}

.belangrijk {
    float: right;
    margin-top: 70px;
}



